@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin text {
  text-decoration: none;
}

@mixin flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flow {
  flex-flow: row wrap;
}
@mixin respon ($size) {
  @media screen and (max-width:$size) {
    @content ;
  }
}
@mixin popins($weight,$size,$linle) {
  font-family: 'Poppins',sans-serif;
  font-size: $size;
  color: #222;
  font-weight: $weight;
  line-height: $linle;
}
@mixin roboto-r{
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  line-height: 20px;
  
}
@mixin price {
  color: #222;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  font-family: 'Poppins',sans-serif;  
}
@mixin sale {
  font-family: 'Poppins',sans-serif;
  color: #e0e0e0;
  font-size: 10px;
  text-decoration-line: line-through;
  font-weight: 700;  
}
@mixin drop-title {
  color: #222;
  font-size: 1rem;
  margin-top: 45px;
  margin-bottom: 9px;
  font-weight: 700;
  font-family: 'Poppins',sans-serif;
  text-transform: uppercase;
  margin-left: 40px;  
}
@mixin drop-link {
  display: block;
  font-size: 13px;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #666;  
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
}
@mixin drop-other {
  background-color: #fff;
  opacity: 0;
  position: absolute;
  z-index: -999;
  transition: opacity .3s ease; 
}
@mixin drop-hover {
  display: block;
  opacity: 1;
  z-index: 3;
}

@mixin card-hover {
  overflow: hidden;
  position: relative;

  &::after{
    content: "";
    display: inline-block;
    width: 150%;
    height: 80%;
    position: absolute;
    top: -75%;
    right: 32%;
    background: #ffffff26;
    transform: skewY(-50deg);
    transition: all .35s ease;  
  }
  &:hover{
    &::after{
      top: 120%;
      right: -75%;
      transition: all .35s ease;  
    }
    
  }
}
